body {
    background-color: lightblue;
}

table {
    background-color: beige;
    border: 2px black;
    color: white;
    margin-top: 10px;
}

#errorMessage { 
    background-color: lightcoral;
    border: 4px red solid;
    border-radius: 5px;
}

.tool-container{
    border: 3px darkgray solid;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    text-align:center;
    width: 90%;
}

.query-tool{
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.query-output{
    border: 3px darkgray solid;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 30px;
}

.c {
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right: auto;
}