{% extends "public/templates/public_template.html" %}

{% block title %}Paradox Query Tool{% endblock %}

{% block main %}
<!-- Header -->
{% autoescape false %}
<div class="container tool-container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">SQL Query Tool</h1>
            <p class="text-center">Note: this tool will not allow you to insert, update, or make deletions on the
                database. It is read-only access.</p>
        </div>
    </div>
    <!-- Submit SQL Query -->
    <div class="row query-tool">
        <div class="col">
            <h3 class="text-center">Write SQL Query Below</h3>
            <form method='POST'>
                <div class="form-group">
                    <label>SQL Query</label>
                    <input class='form-control' type='text' id='sql-query' name='sql-query' placeholder="Ex: SELECT * FROM FACILITY">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary text-center submitQuerySQL">Submit Query</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Query Builder -->
    <div class="row query-tool">
        <div class="col">
            <h3 class="text-center">Build Query Below</h3>
            <form method='POST'>
                <div class="form-group" id="vtool">
                    <!-- Table Selector -->
                    <div>
                        <label>Select Source Table</label>
                        <select class='form-control fetchColumns' id="table-select" name='table-select'>
                            {{ tableListString|safe}}
                        </select>
                    </div>
                    <div id="colSelector">
                        <label>Select Attribute(s)</label>
                        <div class="row" id="attrContainer1">
                            <!-- Column Selector -->
                            <div class="col">
                                <select class='form-control' name='attr1-select' id='attr1-select'>
                                    <option value="*">ALL RECORDS</option>
                                    <option value="TOP (100) *">TOP 100 RECORDS</option>
                                </select>
                            </div>
                            <!-- Comparator -->
                            <div class="col">
                                <select class='form-control' name='attr1-comparator'>
                                    <option value="none"></option>
                                    <option value="gt-t1">></option>
                                    <option value="lt-t1"><</option>
                                    <option value="eq-t1">=</option>
                                    <option value="geq-t1">>=</option>
                                    <option value="leq-t1"><=</option>
                                    <option value="in-t1">IN</option>
                                    <option value="like-t1">LIKE</option>
                                </select>
                            </div>
                            <!-- Value for comparison -->
                            <div class="col">
                                <input class='form-control' type='text' name='t1-val' placeholder="Value">
                            </div>
                        </div>
                        <!-- And/Or selector -->
                        <br>
                        <div class="text-center form-control" id="radio1" style="width:50%;margin-left:auto;margin-right:auto;margin-top:5px;margin-bottom:5px;">
                            <label for="and1">AND</label>
                            <input type="radio" id="and1" name="and-or" value="AND">
                            <label for="or">OR</label>
                            <input type="radio" id="or1" name="and-or" value="OR">
                        </div>
                        <br>
                        <!-- Add additional attribute filter -->
                        <div id="extraAttributes" style="margin-bottom:5px;">
                            <label class="text-center">Add additional constraint(s)</label>
                            <br>
                            <button type="button" class="btn btn-primary addService fetchColumns">+</button>
                            <button type="button" class="btn btn-primary removeService">-</button>
                            <br>
                        </div>
                    </div>
                    <!-- Sort selector -->
                    <div>
                        <label class="text-center">Sort By:</label>
                        <select class='form-control attr-select' id='sort-select' name='sort-select'>

                        </select>
                    </div>
                    <div class="text-center">
                        <br>
                        <button type="button" class="btn btn-primary center submitQueryVisual">Submit Query</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Output -->
<div class="container-lg tool-container">
    <div class="query-output col center text-center">
        <div class="center text-center">
            <h4 class="text-center">Output</h4>
            <h2 class="text-center">{{ curTable }}</h2>
        </div>
        <table id = "outputTbl" class="table table-striped table-dark query-output container">
            {{ resultString|safe }}
        </table>
        <div class="row text-center">
            <a class="text-center" href="/query/download-csv" target="__blank"
                style="margin-right:auto;margin-left:auto;"><button class="text-center btn btn-primary">Export to
                    CSV</button></a>
        </div>
    </div>
</div>
{% endautoescape %}
{% endblock %}

{% block scripts %}
  <!-- App.js script -->
  <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
{% endblock %}