{% extends "public/templates/public_template.html" %}

{% block title %}Paradox Query Tool{% endblock %}

{% block main %}
<!-- Header -->
{% autoescape false %}
<!-- Reset button -->
<div class="container">
    <div class="row center text-center" style="margin-top: 20px;margin-left:auto;margin-right:auto;">
        <div class="col">
            <a href="/query" class="text-center"><button class="text-center form-control btn btn-primary">RESET
                    QUERY</button></a>
        </div>
    </div>
</div>

<div class="container tool-container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">SQL Query Tool</h1>
            <p class="text-center">Note: this tool will not allow you to insert, update, or make deletions on the
                database. It is read-only access.</p>
                
        </div>
    </div>
    <!-- Submit SQL Query -->
    <div class="row query-tool">
        <div class="col">
            <h3 class="text-center">Write SQL Query Below</h3>
            <form>
                <div class="form-group">
                    <label>SQL Query</label>
                    <input class='form-control' type='text' id='sql-query' name='sql-query' placeholder="Ex: SELECT * FROM FACILITY">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary text-center submitQuerySQL">Submit Query</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Query Builder -->
    <div class="row query-tool">
        <div class="col">
            <h3 class="text-center">Build Query Below</h3>
            <form>
                <div class="form-group" id="vtool">
                    <!-- Table Selector -->
                    <div>
                        <label>Select Source Table</label>
                        <select class="form-control fetchColumns" id="table-select" name="table-select">
                            {{ tableListString|safe}}
                        </select>
                    </div>
                    <div id="viewSelector">
                        <label>Choose columns to view</label>
                        <select class="form-control" name="view-select" id="view-select">
                            <!-- Filled from JS -->
                        </select>
                    </div>
                    <div id="colSelector">
                        <label>Add constraint</label>
                        <div class="row" id="attrContainer1">
                            <!-- Column Selector -->
                            <div class="col">
                                <select class="form-control attr-select" name="attr1-select" id="attr1-select">
                                    <!-- Filled from JS -->
                                </select>
                            </div>
                            <!-- Comparator -->
                            <div class="col">
                                <select class="form-control" name="attr1-comparator" id="attr1-comparator">
                                    <option value=""></option>
                                    <option value=">">></option>
                                    <option value="<"><</option>
                                    <option value="=">=</option>
                                    <option value=">=">>=</option>
                                    <option value="=<"><=</option>
                                    <option value="NOT">NOT</option>
                                    <option value="LIKE">LIKE</option>
                                    <option value="SOME">SOME</option>
                                </select>
                            </div>
                            <!-- Value for comparison -->
                            <div class="col">
                                <input class="form-control" type="text" name="t1-val" id="t1-val" placeholder="Value">
                            </div>
                        </div>
                        <br>
                        <!-- Add additional attribute filter -->
                        <div id="extraAttributes" style="margin-bottom:5px;">
                            <label class="text-center">Add additional constraint(s)</label>
                            <br>
                            <button type="button" class="btn btn-primary addService fetchColumns">+</button>
                            <button type="button" class="btn btn-primary removeService">-</button>
                            <br>
                        </div>
                    </div>
                    <!-- Sort selector -->
                    <div>
                        <label class="text-center">Sort By:</label>
                        <select class='form-control attr-select' id='sort-select' name='sort-select'>
                            <!-- Filled from JS -->
                        </select>
                    </div>
                    <div class="text-center">
                        <br>
                        <button type="button" class="btn btn-primary center submitQueryVisual">Submit Query</button>
                    </div>
                </div>
                <div class="row" id="joined_table">

                </div>
            </form>
        </div>
    </div>
</div>
<!-- Output -->
<div class="container-fluid justify-content-center query-output">
    <div class="row text-center c">
        <a class="text-center c" href="/query/download-csv" target="__blank" style="margin-bottom:10px;"><button class="text-center btn btn-primary">Export to CSV</button></a>
    </div>
    <div class="row text-center c">
        <h4 class="text-center c">Output</h4>
    </div>
    <div class="row text-center c">
        <table id="outputTbl" class="table table-striped table-dark c" style="border: 2px black solid; border-radius:3px;">
            {{ resultString|safe }}
        </table>
    </div>
</div>
{% endautoescape %}
{% endblock %}

{% block scripts %}
  <!-- App.js script -->
  <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
{% endblock %}